files:
  "/etc/nginx/conf.d/force-https.conf":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      server {
        listen 80;
        server_name lemonclubcollective.com;
        return 301 https://www.lemonclubcollective.com$request_uri;
      }
      server {
        listen 80;
        server_name www.lemonclubcollective.com;
        return 301 https://$host$request_uri;
      }